@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #121212;
  font-family: "Poppins", sans-serif;
}

.card {
  height: 75%;
  img {
    width: 100%;
    height: 100%;
    display: block;
  }
  .body {
    background: rgb(0, 132, 255);
    color: white;
    padding: 25px;
    display: flex;
    .counter {
      cursor: pointer;
      user-select: none;
      padding: 0.25rem 1rem;
      background: rgba($color: #000000, $alpha: 0.1);
      transition: background 100ms ease-in-out;
      border-radius: 5px;
      &:hover {
        background: rgba($color: #000000, $alpha: 0.2);
      }
      &.likes {
        margin-right: 1rem;
      }
    }
  }
}
